<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techy Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1 id="site-title">Techy Tech Blog</h1>
            <nav class="">
                {{#if loggedIn}}
                <a href="/" class="button is-primary">Homepage</a>
                <a href="/dashboard" class="button is-primary">Dashboard</a>
                <a href="/dashboard/create/" class="button is-primary">Create Post</a>
                <button id="logout" class="button is-warning">Logout</button>
                {{else}}
                <a href="/" class="button is-success">Login</a>
                {{/if}}
            </nav>
        </header>

        <main>
            {{{ body }}}
        </main>
    </div>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>